.btn {
  width: 196px;
  height: 52px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #2BAAE1;
  text-decoration: none;
  border: 2px solid #2BAAE1;
  border-radius: 26px;
  .transition();
  
  &:hover,
  &:active {
    color: #fff;
    background-color: #2BAAE1;
    .transition();
  }
}
.btn--white {
  background-color: #FFFFFF;
  border-color: rgba(255,255,255,0);
}
.btn--red {
  color: #fff;
  background-color: #F6364D;
  border-color: #F6364D;
  
  &:hover,
  &:active {
    color: #F6364D;
    background-color: rgba(255,255,255,0);
  }
}
.btn--grey {
  color: #A0A8C1;
  background-color: #E7EEF3;
  border-color: rgba(255,255,255,0);
}
.btn-top {
  display: block;
  position: fixed;
  bottom: 80px;
  left: 5px;
  z-index: 1000;
  width: 40px;
  height: 40px;
  background-color: #DBE1EB;
  background-image: url(../img/icons/top.svg);
  background-repeat: no-repeat;
  background-size: 14px 18px;
  background-position: center;
  border-radius: 50%;
  .transition();
  
  &:hover,
  &:active {
    background-color: #2BAAE1;
    .transition();
  }
}