.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0px 0px 30px rgba(0, 13, 52, 0.1);
}
main {
  padding-top: 131px;
}
.header__top {
  padding-top: 17px;
  padding-bottom: 17px;
  color: #fff;
  font-size: 14px;
  line-height: 19px;
  background-color: #314891;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list,
.header__user span,
.header__phone,
.header__city span,
.header__mail,
.header__location address {
  display: none;
}
.header__city {
  position: relative;
  display: flex;
  align-items: center;
}
.header__arrow {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  svg {
    display: block;
    fill: #fff;
    width: 9px;
    height: 5px;
  }
  
  &--up {
    transform: rotate(180deg);
  }
}
.header__call {
  text-decoration-line: underline;
  
  &:hover,
  &:active {
    text-decoration: none;
    color: #2BAAE1;
  }
}
.header__bottom {
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #fff;
}
.logo svg {
  display: block;
  width: 131px;
  height: 56px;
  max-width: 100%;
}
.logo {
  width: 100px;
  margin-right: auto;
}
.header__btn {
  display: block;
  width: 48px;
  height: 48px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 2px solid #DBE1EB;
  background-image: url(../img/icons/menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}
.header__list {
  .reset();
  list-style: none;
  position: absolute;
  top: 100%;
  left: 20%;
  z-index: 5;
  width: 150px;
  color: #000D34;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 30px rgba(0, 13, 52, 0.1);
  
  li a {
    display: block;
    padding: 5px 10px;
    .transition();
    
    &:hover,
    &:active {
      color: #F6364D;
      .transition();
    }
  }
}

.header__tel {
  display: block;
  margin-left: 10px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #F6364D;
  background-image: url(../img/icons/call.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}
