@media (min-width: 960px) {
  .header__user span,
  .header__phone {
    display: block;
    margin-left: 10px;
  }
  .header__user {
    display: flex;
    align-items: center;
  }
  .header__call {
    margin-left: 30px;
  }
  .header__phone {
    font-weight: bold;
    .transition();
    
    &:hover,
    &:active {
      color: #2BAAE1;
      .transition();
    }
  }
  .menu__close,
  .header__btn {
    display: none;
  }
  .menu {
    position: static;
    padding: 0;
    display: block;
    z-index: 0;
  }
  .menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu__item {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    
    &:hover {
      .menu__drop {
        display: block;
      }
      .menu__arrow {
        transform: rotate(180deg);
        
        svg {
          fill: #F6364D;
        }
      }
    }
  }
  .logo {
    margin-right: 0;
  }
  .menu__arrow {    
    width: 9px;
    height: 18px;
  }
  .menu__link,
  .menu__arrow {
    display: inline-block;
    vertical-align: baseline;
  }
  .menu__drop {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    width: 616px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 13, 52, 0.1);
    border-radius: 20px;
  }
  .menu__sublist {
    .reset();
    list-style: none;
    text-align: left;
    padding: 40px;
    padding-bottom: 20px;
    height: 565px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .menu__subitem {
    width: 50%;
    margin-bottom: 20px;
    padding-right: 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    .transition();
    
    &:hover,
    &:active {
      color: #F6364D;
      .transition();
    }
  }
  .promo__subtitle {
    display: block;
    width: 525px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }
  .promo__slide .title {
    margin-bottom: 10px;
  }
  .promo__btn {
    margin-top: 40px;
  }
  .promo__slide {
    padding-top: 34px;
    padding-bottom: 86px;
  }
  .promo {
    margin-bottom: 80px;
  }
  .company__wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .company__img {
    width: 338px;
    height: 235px;
    margin-bottom: 0;
    overflow: hidden;
  }
  .company__info {
    width: ~"calc(100% - 368px)";
    
    .title-2 {
      margin-top: 0;
      font-weight: 600;
      font-size: 44px;
      line-height: 60px;
    }
    span {
      display: none;
    }
  }
  .company__links .link--pdf {
    position: absolute;
    bottom: 40px;
    left: 30px;
  }
  .company {
    padding-bottom: 80px;
    margin-bottom: 80px;
  }
  .title-2, h2 {
    text-align: left;
  }
  .service__slider {
    padding-right: 30px;
  }
  .service__link {
    padding-left: 34px;
    padding-right: 34px;
    display: flex;
    flex-direction: column;
    
    .title-4 {
      margin-bottom: 10px;
    }
  }
  .service__btn {
    margin-top: auto;
  }
  .service__text {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
    color: #626C8B;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    top: -60px;
    margin-top: 0;
    border: 2px solid #DBE1EB;
    background-color: #FFFFFF;
    
    &::after {
      display: none;
    }
    &:hover,
    &:active {
      border-color: #2BAAE1;
      .transition();
      
      svg {
        fill: #2BAAE1;
        .transition();
      }
    }
  }
  .swiper-button-prev {
    right: 60px;
    left: auto;
    border-radius: 30px 0 0 30px;
  }
  .swiper-button-next {
    right: 0;
    border-radius: 0 30px 30px 0;
  }
  .service {
    margin-bottom: 80px;
  }
  .clients {
    padding-top: 80px;
    padding-bottom: 0;
    margin-bottom: 80px;
  }
  .clients__box {
    overflow: hidden;
    padding-bottom: 140px;
  }
  .clients__slider {
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    margin-bottom: 40px;
    overflow: visible;
  }
  .clients__slide {
    height: 210px;
    position: relative;
    
    &:hover {
      .clients__drop {
        display: block;
      }
    }
  }
  .clients__drop {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 339px;
    padding-top: 10px;
    
    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 49%;
      width: 15px;
      height: 15px;
      background-color: #fff;
      transform: rotate(45deg);
    }
  }
  .clients__text {
    padding: 30px;
    text-align: center;
    color: #626C8B;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 13, 52, 0.1);
    border-radius: 20px;
    
    p {
      margin-top: 0;
      margin-bottom: 20px;
      
      b {
        display: block;
      }
    }
    
    .title-4 {
      margin-top: 0;
      margin-bottom: 10px;
      color: #000D34;
    }
  }
  .clients__slide.swiper-slide-active {
    .clients__drop {
      left: 0;
      transform: none;
      
      &::before {
        left: 28%;
      }
    }
  }
  .clients__slide.swiper-slide-duplicate-prev {
    .clients__drop {
      right: 0;
      left: auto;
      transform: none;
      
      &::before {
        right: 28%;
        left: auto;
      }
    }
  }
  .clients__next,
  .clients__prev {
    background-color: #415BAB;
    border: 2px solid #8B9EDC !important;
    .transition();
    
    svg {
      fill: #fff !important;
    }
    
    &:hover,
    &:active {
      background-color: #8B9EDC;
      .transition();
    }
  }
  .team__slider {
    padding-right: 30px;
  }
  .team {
    padding-bottom: 40px;
    margin-bottom: 80px;
  }
  .tabs {
    padding-bottom: 80px;
  }
  .partner,
  .news {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .news__img {
    width: 230px;
  }
  .news__info {
    width: ~"calc(100% - 260px)";
  }
  .partner__wrap {
    display: flex;
    justify-content: space-between;
  }
  .partner__block {
    width: 48.5%;
    margin-bottom: 0;
  }
  .partner__btn {
    margin-top: 40px;
  }
  .partner__block .title-4 {
    margin-bottom: 6px;
  }
  .review {
    margin-top: 80px;
  }
  .review__slider {
    padding-bottom: 80px;
    padding-right: 30px;
  }
  .review__link {
    display: flex;
    flex-direction: column;
  }
  .review__more {
    margin-top: auto;
  }
  .mission {
    margin-top: 80px;
    margin-bottom: 80px;
    
    .title-2 {
      width: 480px;
    }
    .wrapper {
      position: relative;
    }
  }
  .footer__top,
  .footer__bottom,
  .mission__columns {
    display: flex;
    justify-content: space-between;
  }
  .mission__column {
    width: 48%;
  }
  .mission__btn {
    position: absolute;
    top: 40px;
    right: 30px;
    margin-top: 0;
  }
  .feedback__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .feedback__btn {
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
  }
  .feedback {
    background-image: url(../img/images/bg-feedback-960.jpg);
  }
  .footer {
    padding-top: 60px;
  }
  .footer__bottom {
    align-items: center;
  }
  .footer__links {
    text-align: right;
    width: 30%;
  }
  .footer__copyright {
    width: 60%;
    margin-bottom: 0;
  }
  .footer__list,
  .footer__contacts {
    display: block;
  }
  .footer__title::after {
    display: none;
  }
  .footer__title {
    color: #A0A8C1;
  }
  .footer__top {
    flex-wrap: wrap;
  }
  .footer__block--contacts {
    width: 100%;
    
    .footer__title {
      display: none;
    }
  }
  .footer__block--service {
    width: 70%;
    
    .footer__list {
      display: flex;
      flex-wrap: wrap;
      
      li {
        width: 45%;
        margin-top: 0;
        margin-bottom: 14px;
        padding-right: 10px;
        
        &:nth-child(2n) {
          width: 55%;
        }
      }
    }
  }
  .footer__block--company,
  .footer__block--links {
    width: 15%;
  }
  .footer__list {
    margin-bottom: 46px;
  }
  .footer__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }
  .footer__contact {
    margin-top: 0;
  }
  .tabs__wrap {
    display: block;
  }
  .gallery-top {
    width: 50%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 0;
    padding-bottom: 0;
    margin-right: 0;
    padding-top: 34px;
  }
  .gallery-thumbs {
    width: 100%;
    height: 480px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-left: 0;
    padding-top: 34px;
    
    .swiper-wrapper {
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
      margin-right: -10px;
      width: auto;
    }
  }
  .tabs__thumb {
    width: 23%;
    height: 128px;
  }
  .tabs__info {
    padding-right: 30px;
    font-size: 18px;
    line-height: 25px;
  }
  .tabs__thumb:nth-child(4)::before,
  .tabs__thumb:nth-child(5)::before,
  .tabs__thumb:nth-child(6)::before {
    right: 100%;
    left: auto;
  }
  .gallery-thumbs .tabs__thumb:nth-child(4).swiper-slide-thumb-active,
  .gallery-thumbs .tabs__thumb:nth-child(5).swiper-slide-thumb-active,
  .gallery-thumbs .tabs__thumb:nth-child(6).swiper-slide-thumb-active {
    border-radius: 0 20px 20px 0;
  }
  .gallery-top .tabs__slide:last-of-type.swiper-slide-active {
    border-radius: 20px
  }
  .gallery-top .tabs__slide:nth-child(4).swiper-slide-active {
    border-radius: 20px 0 20px 20px;
  }
  .review--internal {
    margin-top: 0;
    margin-bottom: 60px;
    
    &::after,
    .review__prev,
    .review__next {
      display: none;
    }
    .review__slider {
      padding-bottom: 20px;
      
      .swiper-wrapper {
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
    .review__slide {
      width: 48.5%;
      margin-bottom: 20px;
    }
  }
  .review--internal .pages {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .service__block {
    position: relative;
  }
  .service__promo {
    width: 66%;
  }
  .service__item {
    width: 32%;
    
    .service__link .title-4 {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 0;
    }
    &:nth-child(n + 9) {
      display: block;
    }
    &:nth-child(n + 15) {
      display: none;
    }
    &:first-child,
    &:nth-child(2) {
      position: absolute;
      right: 0;
    }
    &:first-child {
      top: 0;
    }
    &:nth-child(2) {
      top: 275px;
    }
  }
  .service-internal {
    padding-bottom: 60px;
  }
  .steps__list {
    flex-wrap: nowrap;
  }
  .steps__item {
    width: 160px;
  }
  .steps__list::before {
    left: 20%;
  }
  .steps__list::after {
    right: 20%;
    left: auto;
    top: 80px;
    bottom: auto;
    transform: translateX(50%);
  }
  .steps .wrapper {
    position: relative;
    
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 153px;
      width: 135px;
      height: 31px;
      background-image: url(../img/icons/arrow-2.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .steps {
    margin-top: 80px;
    margin-bottom: 80px;
    
    .title-2 {
      margin-top: 0;
      margin-bottom: 6px;
      text-align: center;
    }
  }
  .gift__wrap {
    padding-left: 277px;
    padding-right: 35px;
    text-align: left;
  }
  .gift::after {
    width: 203px;
    height: 203px;
    left: 64px;
    top: 50%;
    transform: translateY(-50%);
  }
  .gift {
    padding-top: 60px;
  }
  .gift__btn {
    margin-left: 0;
  }
  .service__promo .promo__slide {
    height: 530px;
    padding: 40px;
    display: flex;
    flex-direction: column;
  }
  .service__promo .promo__block {
    margin-top: auto;
  }
  .price__btn,
  .service__promo .promo__slide .promo__subtitle {
    margin-left: 0;
  }
  .service__promo .promo__slide .title {
    font-size: 42px;
    line-height: 48px;
    max-width: 430px;
    margin-left: 0;
  }
  .service--internal {
    padding-bottom: 60px;
  }
  .price__text {
    padding: 40px;
    max-width: 100%;
    padding-left: 216px;
    padding-right: 50px;
  }
  .price__text::after {
    top: 52px;
    left: 40px;
    width: 146px;
    height: 140px;
    transform: none;
  }
  .article__section .title-2 {
    font-size: 30px;
    line-height: 41px;
  }
  .sidebar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .sidebar__block {
    width: 48.5%;
    
    &--blue {
      width: 100%;
    }
  }
  .method .wrapper {
    padding-left: 39px;
    padding-right: 39px;
  }
  .service.underline {
    padding-bottom: 40px;
  }
  .news--internal {
    padding-top: 0;
    padding-bottom: 0;
  }
  .faq__title::after,
  .faq__block--others {
    display: block;
  }
  .faq__subtitle,
  .faq__list {
    padding-left: 30px;
    padding-right: 30px;
  }
  .faq__drop,
  .faq__title {
    padding-right: 75px;
  }
  .result,
  .faq {
    margin-bottom: 80px;
  }
  .contacts__list {
    display: flex;
    justify-content: space-between;
  }
  .contacts__item {
    width: 48.5%;
  }
  .contacts__img img {
    height: 100%;
    width: auto;
  }
  .sidebar__block--wide {
    width: 100%;
  }
  .sidebar__img img {
    height: 209px;
    width: auto;
  }
  .result__list {
    padding: 30px;
  }
}