@media (min-width: 640px) {
  .header__city span {
    display: block;
    margin-right: 6px;
  }
  .header__list {
    left: 50%;
  }
  h1,
  .title {
    font-size: 42px;
    line-height: 46px;
  }
  .promo__slide .title {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
  .company__wrap {
    padding: 30px;
    padding-bottom: 41px;
  }
  .title-2,
  h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
  }
  .title-line {
    padding-bottom: 30px;
  }
  .company__links {
    display: flex;
    align-items: center;
    margin-top: 31px;
  }
  .company .link {
    margin-top: 0;
    margin-right: 40px;
  }
  .review,
  .partner,
  .team,
  .company {
    position: relative;
    border-bottom: 0;
    
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 30px;
      right: 30px;
      height: 2px;
      background-color: #DBE1EB;
    }
  }
  .review__slider,
  .team__slider,
  .clients__slider,
  .service__slider {
    padding-left: 30px;
    padding-bottom: 40px;
    padding-top: 34px;
    margin-right: -30px;
    margin-left: -30px;
  }
  .team {
    padding-bottom: 20px;
  }
  .tabs__wrap {
    display: flex;
    justify-content: space-between;
  }
  .gallery-thumbs {
    width: 210px;
    height: 554px;
    margin: 0;
    padding-left: 30px;
    margin-left: -30px;
    margin-right: 0;
    padding-right: 0;
    padding-bottom: 60px;
  }
  .gallery-top {
    width: ~"calc(100% - 170px)";
    margin: 0;
    padding: 0;
    margin-left: 0;
    padding-left: 0;
    margin-right: -30px;
    padding-right: 30px;
    padding-top: 24px;
    padding-bottom: 60px;
  }
  .tabs__thumb {
    padding: 0;
    padding-left: 28px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .gallery-thumbs .swiper-slide-thumb-active {
    border-radius: 20px 0 0 20px;
  }
  .tabs__thumb::before {
    left: 100%;
    width: 20px;
    top: 0;
    bottom: 0;
    right: 0;
    height: auto;
  }
  .tabs__slide {
    width: 100%;
    padding: 30px;
  }
  .news__item {
    margin-bottom: 20px;
    
    &:nth-child(2) {
      display: block;
    }
  }
  .news__link {
    padding: 30px 25px;
    display: flex;
    justify-content: space-between;
  }
  .news__img {
    width: 180px;
    margin-bottom: 0;
  }
  .news__info {
    width: ~"calc(100% - 200px)";
    display: flex;
    flex-direction: column;
    
    p {
      margin-top: 0;
    }
  }
  .news__btn {
    margin-top: 40px;
  }
  .news__more {
    margin-top: auto;
  }
  .partner__block .title-4 {
    font-size: 36px;
    line-height: 49px;
    margin-left: -10px;
    margin-right: -10px;
  }
  .partner__block {
    padding-top: 154px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .partner__btn {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  .review__slide {
    width: 440px;
  }
  .review__slider {
    padding-bottom: 60px;
  }
  .review__link {
    padding: 30px;
    padding-bottom: 40px;
    
    p {
      padding-right: 20px;
    }
  }
  .mission__btn {
    margin-top: 40px;
    width: 236px;
  }
  .feedback .title-4 {
    margin-bottom: 30px;
  }
  .feedback__btn {
    width: 268px;
    margin-left: auto;
    margin-right: auto;
  }
  .feedback {
    background-image: url(../img/images/bg-feedback-tablet.jpg);
    background-position: left center;
  }
}