@media (min-width: 640px) {
  .header__city span {
    display: block;
    margin-right: 6px;
  }
  .header__list {
    left: 50%;
  }
  h1,
  .title {
    font-size: 42px;
    line-height: 46px;
  }
  .promo__slide .title {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
  .company__wrap {
    padding: 30px;
    padding-bottom: 41px;
  }
  .title-2,
  h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
  }
  .title-line {
    padding-bottom: 30px;
  }
  .company__links {
    display: flex;
    align-items: center;
    margin-top: 31px;
  }
  .company .link {
    margin-top: 0;
    margin-right: 40px;
  }
  .underline,
  .service--internal,
  .review,
  .partner,
  .team,
  .company {
    position: relative;
    border-bottom: 0;
    
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 30px;
      right: 30px;
      height: 2px;
      background-color: #DBE1EB;
    }
  }
  .steps.underline {
    padding-bottom: 60px;
  }
  .review__slider,
  .team__slider,
  .clients__slider,
  .service__slider {
    padding-left: 30px;
    padding-bottom: 40px;
    padding-top: 34px;
    margin-right: -30px;
    margin-left: -30px;
  }
  .team {
    padding-bottom: 20px;
  }
  .tabs__wrap {
    display: flex;
    justify-content: space-between;
  }
  .gallery-thumbs {
    width: 230px;
    height: 554px;
    margin: 0;
    padding-left: 30px;
    margin-left: -30px;
    margin-right: -20px;
    padding-right: 20px;
    padding-bottom: 45px;
  }
  .gallery-top {
    width: ~"calc(100% - 170px)";
    margin: 0;
    padding: 0;
    margin-left: 0;
    padding-left: 0;
    margin-right: -30px;
    padding-right: 30px;
    padding-top: 24px;
    padding-bottom: 60px;
    
    .swiper-slide-active {
      border-radius: 20px;
    }
    .tabs__slide:first-of-type.swiper-slide-active {
      border-radius: 0 20px 20px 20px;
    }
    .tabs__slide:last-of-type.swiper-slide-active {
      border-radius: 20px 20px 20px 0;
    }
  }
  .tabs__thumb {
    padding: 0;
    padding-left: 28px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 30px rgba(0, 13, 52, 0.05);
    cursor: pointer;
  }
  .gallery-thumbs .swiper-slide-thumb-active {
    border-radius: 20px 0 0 20px;
  }
  .tabs__thumb::before {
    left: 100%;
    width: 20px;
    top: -2px;
    bottom: -2px;
    right: 0;
    height: auto;
  }
  .tabs__slide {
    width: 100%;
    padding: 30px;
    box-shadow: 0px 0px 30px rgba(0, 13, 52, 0.05);
  }
  .news__item {
    margin-bottom: 20px;
    
    &:nth-child(2) {
      display: block;
    }
  }
  .news__link {
    padding: 30px 25px;
    display: flex;
    justify-content: space-between;
  }
  .news__img {
    width: 180px;
    margin-bottom: 0;
  }
  .news__info {
    width: ~"calc(100% - 200px)";
    display: flex;
    flex-direction: column;
    
    p {
      margin-top: 0;
    }
  }
  .news__btn {
    margin-top: 40px;
  }
  .news__more {
    margin-top: auto;
  }
  .partner__block .title-4 {
    font-size: 36px;
    line-height: 49px;
    margin-left: -10px;
    margin-right: -10px;
  }
  .partner__block {
    padding-top: 154px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .partner__btn {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  .review__slide {
    width: 440px;
  }
  .review__slider {
    padding-bottom: 60px;
  }
  .review__link {
    padding: 30px;
    padding-bottom: 40px;
    
    p {
      padding-right: 20px;
    }
  }
  .mission__btn {
    margin-top: 40px;
    width: 236px;
  }
  .feedback .title-4 {
    margin-bottom: 30px;
  }
  .feedback__btn {
    width: 268px;
    margin-left: auto;
    margin-right: auto;
  }
  .feedback {
    background-image: url(../img/images/bg-feedback-tablet.jpg);
    background-position: left center;
  }
  .breadcrumbs {
    display: block;
  }
  h1, 
  h1.title {
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    margin-bottom: 40px;
  }
  .service__promo {
    margin-top: 40px;
    
    .swiper-pagination {
      bottom: 50px !important;
    }
  }
  .service__promo .promo__slide {
    padding: 40px;
    padding-top: 224px;
    
    .promo__subtitle {
      display: block;
      margin-bottom: 30px;
      text-align: left;
      max-width: 430px;
    }
    .promo__btn {
      margin-top: 0;
      margin-left: 0;
    }
  }
  .service__promo .promo__slide .title {
    text-align: left;
    max-width: 100%;
    margin-bottom: 10px;
  }
  .steps__list,
  .service__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .service__item {
    width: 48.5%;
  }
  .service__item:nth-child(n+5) {
    display: block;
  }
  .service__item:nth-child(n+9) {
    display: none;
  }
  .steps__item {
    width: 39%;
    padding-left: 0;
    padding-right: 0;
  }
  .steps__list {
    position: relative;
    
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 135px;
      height: 31px;
      background-image: url(../img/icons/arrow-1.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
    &::before {
      top: 80px;
    }
    &::after {
      bottom: 154px;
    }
  }
  .gift {
    background-image: url(../img/images/bg-clients.jpg);
    
    .title-4 {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 36px;
      line-height: 49px;
    }
  }
  .gift__wrap {
    padding-left: 24px;
    padding-right: 24px;
  }
  .gift__btn {
    width: 251px;
    margin-left: auto;
    margin-right: auto;
  }
  .service__promo .swiper-pagination {
    width: auto;
    left: 45%;
  }
  .price__text {
    max-width: 415px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .method__btn,
  .price__btn {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
  }
  .price__text .title-2 {
    font-size: 30px;
    line-height: 41px;
  }
  .article__section table {
    font-size: 16px;
    line-height: 22px;
    
    th,
    td {
      padding: 20px;
    }
  }
  .sidebar__btn {
    width: 260px;
  }
  .method .title-4 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 49px;
  }
  .method .wrapper {
    padding: 60px 53px;
  }
  .noline::after {
    display: none;
  }
}