.service {
  margin-bottom: 60px;
  
  .title-2 {
    margin-bottom: 0;
  }
  &--internal {
    padding-bottom: 40px;
    border-bottom: 2px solid  #DBE1EB;
  }
}
.service.underline {
  padding-bottom: 20px;
}
.service__wrap {
  position: relative;
}
.service__slider {
  padding-bottom: 30px;
  padding-top: 24px;
  margin-right: -15px;
  margin-left: -15px;
  padding-left: 15px;
}
.service__slide {
  box-sizing: border-box;
  height: auto;
  width: 270px;
  
}
.service__item,
.service__slide {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 13, 52, 0.1);
  border-radius: 20px;
  border: 2px solid rgba(255,255,255,0);
  .transition();
  
  &:hover,
  &:active {
    border-color: #2BAAE1;
    .transition();
    
    .title-4 {
      color: #2BAAE1;
      .transition();
    }
    .service__btn {
      color: #626C8B;
    }
  }
}
.service__text,
.service__prev,
.service__next {
  display: none;
}
.service__more {
  margin-left: auto;
  margin-right: auto;
}
.service__link {
  display: block;
  height: 100%;
  text-align: center;
  padding: 40px;
  text-decoration: none;
}
.service__promo {
  margin-bottom: 20px;
  position: relative;
  z-index: 0;
  
  .promo__slider {
    border-radius: 20px;
  }
  .promo__slide {
    height: 480px;
    padding: 37px;
    padding-top: 192px;
    padding-bottom: 98px;
    
    .title {
      font-weight: 600;
      margin-bottom: 30px;
    }
  }
}
.service__list {
  .reset();
  list-style: none;
}
.service__item {
  margin-bottom: 20px;
  
  &:nth-child(n + 5) {
    display: none;
  }
  
  .title-4 {
    margin-bottom: 0;
  }
}
.service__icon img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  width: auto;
}