.tabs {
  margin-top: 60px;
  
  .title-2 {
    margin-bottom: 0;
  }
}
.tabs__wrap {
  position: relative;
}
.tabs__icon {
  display: none;
}
.tabs__slide {
  box-sizing: border-box;
  height: auto;
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 13, 52, 0.1);
  border-radius: 0 20px 20px 20px;
  
  .title-4 {
    margin-bottom: 15px;
  }
}
.tabs__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 203px;
  margin-bottom: 30px;
  border-radius: 20px;
  overflow: hidden;
  
  img {
    display: block;
    flex: 0 0 auto;
    height: 100%;
    width: auto;
    max-width: none;
  }
}
.tabs__thumb {
  position: relative;
  width: 180px;
  height: 84px;
  padding: 20px 30px;
  margin-right: 10px;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 13, 52, 0.1);
  border-radius: 20px;
  box-sizing: border-box;
  border: 2px solid #fff;
  .transition();
  
  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: -2px;
    right: -2px;
    height: 10px;
    background-color: #fff;
    z-index: 2;
    display: none;
  }
  
  &:hover,
  &:active {
    border-color: #2BAAE1;
    
    .tabs__info {
      opacity: 1;
      color: #2BAAE1;
      .transition();
    }
    .tabs__icon {
      opacity: 1;
      .transition();
    }
  }
}
.tabs__icon {
  .transition();
}
.tabs__info {
  opacity: 0.5;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  .transition();
}
.gallery-thumbs {
  padding-bottom: 6px;
  padding-top: 24px;
  padding-left: 15px;
  margin-left: -15px;
  margin-right: -15px;
  
  .swiper-slide-thumb-active {
    border-color: #fff !important;
    border-radius: 20px 20px 0 0;
    
    .tabs__info {
      opacity: 1;
      color: #000D34 !important;
    }
    
    &::before {
      display: block;
    }
  }
}
.gallery-top {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 60px;
}
